* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    background: rgba(209, 216, 222, 0.815);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
section {
    max-width: fit-content;
    background: white;
    border-bottom-right-radius: 5rem;
}
.container {
    height: auto;
    padding: 2rem;
}
.input {
    display: flex;
}
form > div{
    display: flex;
    flex-direction: column;
}
form label {
    font-size: .6rem;
    font-weight: 800;
    color: rgb(162 166 169);
    margin-bottom: .3rem;
    letter-spacing: 2px;
    display: block;
}
.form input {
    width: 4.5rem;
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
}
.form input::placeholder {
    color: #aaa;
    font-weight: 400;
}
.form form{
    display: flex;
    gap: 1rem;
}
.hr {
    background: rgba(209, 216, 222, 0.815);
    height: 1px;
    flex: 1;
}
.s-sec {
    display: flex;
    align-items: center;
    min-width: 20rem;
    position: relative;
}
/* .s-sec::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: 0;
} */
 .icon {
    width: 3rem;
    height: 3rem;
    display: block;
    color: #7c27df;
    margin-left: -5px;
}
.icon:hover {
    color: black;
 }
h1 {
    font-weight: 1000;
    font-size: 2.4rem;
    font-style: italic;
}
 h1 span {
    color: #7c27df;
    margin-right: .2rem;
 }
 .input-error {
    border-color: #ff5757 !important;
 }
 .label-error {
    color: #ff5757;
 }
.error-p {
    font-size: .4rem;
    margin-top: .1rem;
    color: #ff5757;
    font-weight: 400;
    letter-spacing: .1px;
    font-style: italic;
    display: none;
}
.t-display {
    display: block;
}



@media (max-width: 31.25rem) {
    .s-sec {
    display: flex;
    align-items: center;
    min-width: inherit;
    /* position: relative; */
    margin: 2rem 0 1rem;
}
 .icon {
    margin-left: -5px;
    position: absolute;
    left: 43%;
    z-index: 3;
    background: #fff;
}
.hr {
    /* z-index: 0; */
    position: relative;
}
}